.ant-menu
  height calc(100% - 40px)
.menu-fold
  height: 40px;
  background-color: #001529
  padding 10px 22px
  position fixed
  width inherit
  z-index 2
  top 64px
  span
    font-size 18px
    color #fff
.ant-layout
  .ant-layout-has-sider
    > .ant-layout, .ant-layout.ant-layout-has-sider
      > .ant-layout-content
        padding 0 8px
        width inherit

.ant-layout-sider-children
  height calc(100% - 40px)
  width inherit
.ant-menu-inline
  max-width: 200px
.rightContent
  margin-top 64px
  z-index 3
  width inherit !important
