.P-home
  background-color #F6F6F6
  .P-scrollmessage
    //margin-bottom 20px
    //min-width 1024px
    @media (min-width: 768px)
      .ant-col-md-24
        margin-bottom 10px
    @media (min-width: 576px)
      .ant-col-sm-24
        margin-bottom 10px
    .M-scrollmessage
      .ant-card
        border-radius 18px
        .ant-card-body
          padding 10px

    .M-statistic
      display flex
      //min-width 405px
      .ant-card
        border-radius 18px
        width 100%
        .ant-card-head
          min-height: 32px
          padding 0 10px
          .ant-card-head-title
            padding 0
        .ant-card-body
          padding 10px
          display flex
          margin-right 10px
          .card-cell
            width 100%
            display flex
            .cell-title
              min-width 90px
          div
            width 100%
            .M-number
              margin 0
              font-weight 700


        div
          margin-right 10px
          width: 100%
.scrollPage
  .scrollWrapper
    ul
      li
        width 100%


