.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
    padding: 8px 16px;
}
.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    top: -50% !important;
}
.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content {
    margin-left: 10px;
}
.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content-box {
    padding: 0;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-btn {
    margin-left: 15px !important;
}

