.collapsed{
  height:32px;
}
.expanded{
  height:100%
}
.isElementCollision{
  transition: width 2s ease-in-out;
}
.gutter-row .ant-radio-button-wrapper{
  min-width: 150px;
  width: 150px;
  margin-bottom: 10px;
}
.disp-none{
  display: none !important;
 }
