
.P-home
  .P-scrollmessage
    margin-bottom 20px
    .M-scrollmessage
      border aqua 1px solid
      border-radius 5px
      .M-sound
        width 35px
        background-color blueviolet

    .M-statistic
      display flex
      div
        margin-right 10px
      

