.User
  h1
    color aqua
.tableTitle .ant-btn{
  line-height:0 !important;
  margin-right: 8px;
}
.tableTitle .ant-btn a{
  color: #fff;
}
.tableTitle .ant-btn span{
  color: #fff;
}
.tableTitle .deleteTips{
  margin: 0 8px;
}
.ant-btn{
  line-height:1
}
.ant-btn-sm {
  border-radius: 3px;
  padding: 3px 5px!important;
}
.ant-btn-sm{
  font-size:12px
}

