.M-digitalCard
  min-width 88.34%
  min-height 235px
  //margin-bottom 8px
  .ant-row
    @media (min-width: 768px)
      .ant-col-md-24
        margin-bottom 10px
    @media (min-width: 576px)
      .ant-col-sm-24
        margin-bottom 10px
  .ant-card
    padding 15px
    min-height 235px;
    border-radius: 18px;
    .ant-card-head
      min-height 33px
      padding 0
      .ant-card-head-title
        padding 0
      .ant-card-extra
        padding 0
    .ant-card-body
      padding 0



