.M-digitalCard {
  height: 220px;
  margin-bottom: 20px;
}
.M-digitalCard .ant-card {
  padding: 15px;
}
.M-digitalCard .ant-card .ant-card-head {
  min-height: 33px;
}
.M-digitalCard .ant-card .ant-card-head .ant-card-head-title {
  padding: 0;
}
.M-digitalCard .ant-card .ant-card-head .ant-card-extra {
  padding: 0;
}
.M-digitalCard .ant-card .ant-card-body {
  padding: 0;
}
