.anticon {
  margin-right: 5px;
}
.ant-pagination {
  float: right;
}
.ant-pagination .ant-pagination-total-text {
  margin-right: 20px;
}
.odd{
  background-color: #ebeef5
}
.even{
  background-color:#FFFFFF ;
}

.ant-table-cell{
  overflow:hidden;
  text-overflow:ellipsis;
}
